#people-photo {
  display:block;
  max-width: 120px;
  margin: 30px auto 10px;
  border-radius: 100%;
  padding-right: 10px;
  float: left;
}

#cat-photo {
  display:block;
  max-width: 120px;
  margin: 10px auto 10px;
  padding-right: 10px;
  float: left;
}

#eyes-photo {
  display:block;
  max-width: 30%;
  margin: 30px auto 10px;
  padding-right: 10px;
  float: right;
}

/**************************************
GENERAL
***************************************/
h1, h2, h3, h4, h5, h6   {
  font-family: 'Nothing You Could Do';
  font-weight: bold;
  text-decoration: none;
  color: #E0E066; 
}

body {
  background: #000;
}

.topnav {
  border-style: solid;
  border-bottom-color: #af0000;
  border-bottom-width: 1px;
}

.panel {
  background-color: #9B8E73;
}

#panelHeading {
  color: #520000;
}

#panelHeadingH4 {
  color: #520000;
  margin: 30px 0 0;
}


table, th, td {
   border: 1px solid black;
   background-color: #9B8E73;
   color: #E0E066;
}

#bystanderStats {
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
}

th {
   background-color: #8c8068;
   color: #000;

}

td {
   background-color: #A59981;
}

.sidenote {
  font-style: italic;
  font-size: .85em;
}

/******************** Fonts
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Nothing You Could Do', cursive;
*************************/
