#people-photo {
  display:block;
  max-width: 120px;
  margin: 10px auto 10px;
  border-radius: 100%;
  padding-right: 10px;
  float: left;
}

#cat-photo {
  display:block;
  max-width: 120px;
  margin: 10px auto 10px;
  padding-right: 10px;
  float: left;
}

#eyes-photo {
  display:block;
  max-width: 30%;
  margin: 10px auto 10px;
  padding-right: 10px;
  float: right;
}

/**************************************
GENERAL
***************************************/
h1, h2, h3, h4, h5, h6   {
  font-family: 'Nothing You Could Do';
  font-weight: bold;
  text-decoration: none;
  color: #E0E066; 
/*#D8D880*/
}

body {
  background: #000;

  
}


.topnav {
  border-style: solid;
  border-bottom-color: #af0000;
  border-bottom-width: 1px;
}


.panel {
  background-color: #9B8E73;
}

#panelHeading {
  color: #520000;
}


/******************** Fonts
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Nothing You Could Do', cursive;
*************************/
